---
http_interactions:
- request:
    method: post
    uri: https://localbitcoins.com/api/wallet-send/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576632637'
      Apiauth-Signature:
      - F7CEF8E0C624F36ED6CB01988F9FBBC324D188EF841256EB819C0618EFA489BB
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Invalid parameters.", "errors": {"amount": "*
        This field is required.", "address": "* This field is required."}, "error_code":
        9, "error_lists": {"amount": ["This field is required."], "address": ["This
        field is required."]}}}'
  recorded_at: Wed, 18 Dec 2019 01:30:40 GMT
recorded_with: VCR 5.0.0
