---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/wallet-balance/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576632633'
      Apiauth-Signature:
      - 7C23FD7910AB4E5336566CA0176E85C1D81F5413647E017CDFA7A8751382F6F0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"receiving_address_list": [{"received": "0.00000000", "address":
        "randomStringTest"}], "message": "OK", "total": {"balance":
        "0.00000000", "sendable": "0"}, "receiving_address_count": 1, "receiving_address":
        "randomStringTest"}}'
  recorded_at: Wed, 18 Dec 2019 01:30:33 GMT
recorded_with: VCR 5.0.0
