---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/wallet-balance/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576550727'
      Apiauth-Signature:
      - AC4C6C3E7240FCAD7646A6A086E75AC754317B1DA9BC254CEE75CCFC96C495B3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"receiving_address_list": [{"received": "0.00000000", "address":
        "randomStringTest"}], "message": "OK", "total": {"balance":
        "0.00000000", "sendable": "0"}, "receiving_address_count": 1, "receiving_address":
        "randomStringTest"}}'
  recorded_at: Tue, 17 Dec 2019 02:45:36 GMT
recorded_with: VCR 5.0.0
