---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/wallet-balance/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576633481'
      Apiauth-Signature:
      - A53D27C42DC3CC6A8CBD97A7216B734969101CB457A11E73801FB0B40838B28F
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"receiving_address_list": [{"received": "0.00000000", "address":
        "randomStringTest"}], "message": "OK", "total": {"balance":
        "0.00000000", "sendable": "0"}, "receiving_address_count": 1, "receiving_address":
        "randomStringTest"}}'
  recorded_at: Wed, 18 Dec 2019 01:44:41 GMT
recorded_with: VCR 5.0.0
