---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/notifications/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1575427830'
      Apiauth-Signature:
      - AC3DCF8BC789B8348C3392EBF3CB7415C96159866A6785992BAB14E04923454F
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"read": true, "msg": "Ha completado correctamente la prueba
        de coincidencia facial.", "created_at": "2019-10-24T01:00:48+00:00", "url":
        "/accounts/identification/redirect", "id": "c3d45b6da5f5"}, {"read": true,
        "msg": "Ha habido un error en el intento de verificar su identidad. Para obtener
        m\u00e1s detalles, haga clic en esta notificaci\u00f3n.", "created_at": "2019-10-24T00:43:02+00:00",
        "url": "/accounts/onfido/result/", "id": "0ef3b8fd6106"}, {"read": true, "msg":
        "Responder al ticket de soporte 938236", "created_at": "2019-10-23T02:58:34+00:00",
        "url": "/support/reply/938236/", "id": "ba9b97475958"}, {"read": true, "msg":
        "Por favor revise la verificaci\u00f3n de la cuenta y actualize la informaci\u00f3n
        antes del 1 de Octubre.", "created_at": "2019-10-23T02:39:23+00:00", "url":
        "/settings/verification/", "id": "ad4fb14f50a5"}, {"read": true, "msg": "Para
        m\u00e1s informaci\u00f3n sobre los limites del Tier 1 y los requisitos haga
        click aqu\u00ed.", "created_at": "2019-10-23T02:39:23+00:00", "url": "/blog/id-verification-update/",
        "id": "e84228f112d7"}]}'
  recorded_at: Wed, 04 Dec 2019 02:50:33 GMT
recorded_with: VCR 5.0.0
