---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/myself/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1574391473'
      Apiauth-Signature:
      - 9472A9F8BAE81240FB384C967BA44F7C2B8DB4ABDD94A8F24D1D736508D89818
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"username": "test-user", "feedback_score": "N/A", "feedback_count":
        0, "real_name_verifications_trusted": 0, "trading_partners_count": 0, "url":
        "https://localbitcoins.com/p/test-user/", "real_name_verifications_untrusted":
        0, "has_feedback": false, "identity_verified_at": "2019-10-24T01:00:49+00:00",
        "trusted_count": 0, "feedbacks_unconfirmed_count": 0, "blocked_count": 0,
        "trade_volume_text": "0-0.5 BTC", "has_common_trades": false, "real_name_verifications_rejected":
        0, "age_text": "1\u00a0year, 7\u00a0months", "confirmed_trade_count_text":
        "0", "created_at": "2018-04-02T17:26:17+00:00"}}'
  recorded_at: Fri, 22 Nov 2019 02:57:53 GMT
recorded_with: VCR 5.0.0
