---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/myself/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1574389503'
      Apiauth-Signature:
      - 2E0167E7FD4A1DAB07886FFA68E71A4AD8948104970629E8A52077C4BBDDE502
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"username": "harold29", "feedback_score": "N/A", "feedback_count":
        0, "real_name_verifications_trusted": 0, "trading_partners_count": 0, "url":
        "https://localbitcoins.com/p/harold29/", "real_name_verifications_untrusted":
        0, "has_feedback": false, "identity_verified_at": "2019-10-24T01:00:49+00:00",
        "trusted_count": 0, "feedbacks_unconfirmed_count": 0, "blocked_count": 0,
        "trade_volume_text": "0-0.5 BTC", "has_common_trades": false, "real_name_verifications_rejected":
        0, "age_text": "1\u00a0year, 7\u00a0months", "confirmed_trade_count_text":
        "0", "created_at": "2018-04-02T17:26:17+00:00"}}'
  recorded_at: Fri, 22 Nov 2019 02:25:03 GMT
recorded_with: VCR 5.0.0
