/Gemfile.lock
Gemfile.lock
.rvmrc
tags
/localbitcoins.gem
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/fixtures

.byebug_history

*.swp
