---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/wallet/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576212908'
      Apiauth-Signature:
      - CE2D8B82656D304C2AEB60C17F8CC9B8F2ED3524B8DFE087BFD1217EFB9E714A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"receiving_address": "randomStringTest",
        "received_transactions_30d": [], "old_address_list": [{"received": "0.00000000",
        "address": "randomStr..."}], "sent_transactions_30d": [], "message": "OK",
        "total": {"balance": "0.00000000", "sendable": "0"}}}'
  recorded_at: Fri, 13 Dec 2019 04:55:17 GMT
recorded_with: VCR 5.0.0
