---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/api/fees/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576632634'
      Apiauth-Signature:
      - 1408BEF704E10ADF1BCD5F9B8A0F1C87E9C82D53D2CCE761D8989835941A2451
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"deposit_fee": "0.00003000", "outgoing_fee": "0.00001000"}}'
  recorded_at: Wed, 18 Dec 2019 01:30:37 GMT
- request:
    method: post
    uri: https://localbitcoins.com/api/wallet-send/
    body:
      encoding: UTF-8
      string: address=3C4bLedQKBdyw5q9JbfEGSkaHhgYiSTPmx&amount=0
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576635683'
      Apiauth-Signature:
      - 26AAEE0C5CE4298E953EE5DB67CF6EF5B72AD7F8C0B5790EF259BF96ED11600D
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Invalid parameters.", "errors": {"amount": "*
        Ensure this value is greater than or equal to 0.0001."}, "error_code": 9,
        "error_lists": {"amount": ["Ensure this value is greater than or equal to
        0.0001."]}}}'
  recorded_at: Wed, 18 Dec 2019 02:21:23 GMT
[...]
- request:
    method: post
    uri: https://localbitcoins.com/api/wallet-send/
    body:
      encoding: UTF-8
      string: address=3C4bLedQKBdyw5q9JbfEGSkaHhgYiSmx&amount=0.002
    headers:
      Apiauth-Key:
      - 812d25c29f1a94bc1b8cf2d08f51e5af
      Apiauth-Nonce:
      - '1576635771'
      Apiauth-Signature:
      - 0634DBF75F4DD8EA15743B395B86E374BB1F3B59048A2690469005E27D7F9D1F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Invalid parameters.", "errors": {"address":
        "* Invalid Bitcoin address."}, "error_code": 9, "error_lists": {"address":
        ["Invalid Bitcoin address."]}}}'
  recorded_at: Wed, 18 Dec 2019 02:22:52 GMT
recorded_with: VCR 5.0.0
